# Analyzing COVID-19 in the United States and Its Impact

Throughout the final unit we have explored COVID-19 and its spread throughout the world. 

The visualizations in this notebook will focus on and explore its impact on the United States.

In [2]:
#Import all libraries you may need in this cell:
# library is a collection of functions and methods that allows you to perform many actions without writing your code
import pandas as pd
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as ticker
from matplotlib.dates import DateFormatter

## 1 - Finding the COVID-19 numbers per state.

In [3]:
#3 lists of data compiled for your convenience

#List of states sorted in alphabetical order.
statesList = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

#Corresponding latitudes for each state.
latitudes = [32.361538, 58.301935, 33.448457, 34.736009, 38.555605, 39.7391667, 41.767, 39.161921, 30.4518, 33.76,
            21.30895, 43.613739, 39.783250, 39.790942, 41.590939, 39.04, 38.197274, 30.45809, 44.323535, 38.972945,
            42.2352, 42.7335, 44.95,32.320, 38.572954,46.595805,40.809868,39.160949,43.220093, 40.221741,35.667231,
            42.659829,35.771, 48.813343,39.962245, 35.482309,44.931109, 40.269789, 41.82355, 34.000,  44.367966,36.165,
            30.266667,40.7547,44.26639, 37.54, 47.042418,38.349497,43.074722, 41.145548]

#Corresponding longitudes for each state.
longitudes = [-86.279118,-134.419740,-112.073844, -92.331122,-121.468926 ,-104.984167 ,-72.677 , -75.526755 ,
              -84.27277,-84.39,-157.826182 ,-116.237651 ,-89.650373 ,-86.147685 ,-93.620866 ,-95.69 , -84.86311
              ,-91.140229 ,-69.765261 ,-76.501157 ,-71.0275 ,-84.5467 , -93.094 ,-90.207 , -92.189283
              , -112.027031 ,-96.675345 ,-119.753877 ,-71.549127 , -74.756138, -105.964575 , -73.781339 ,-78.638 
              ,-100.779004 ,-83.000647 , -97.534994,-123.029159 ,-76.875613 , -71.422132, -81.035, -100.336378
              ,-86.784 ,-97.75 ,-111.892622 ,-72.57194 ,-77.46 ,-122.893077 ,-81.633294 ,-89.384444 ,-104.802042]

Use the New York Times' COVID-19 data(https://github.com/nytimes/covid-19-data/blob/master/us-states.csv) to create **two functions** that takes the name of a state as input and returns the bar plots of 1) # of cases over time and 2) # of deaths over time for that specific state.

In [4]:
#Read in data
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
#Display data
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [7]:
def covid19cases(timeseriesData,state):
    #selcet all rows for the columns that i need (date,state, cases)
    timeseriesData = timeseriesData.loc[:,["date", "state","cases"]]
    #select cases specific to the state
    timeseriesData = timeseriesData.loc[timeseriesData["state"]==state]
    #plot the figure
    fig = plt.figure()
    ax = fig.add_axes([0,0,2,2])#[staring ponit on x axis, strarting point on the y, the 2 ares the length and widths]
    dates = df_cases["date"]
    numCases =  df_cases["cases"]
    plt.plot(dates,numcases)
    ax.bar(dates, numcases)
    plt.title("cases of COVID-19 in " + state)
    plt.xlabel("Date")
    plt.ylabel("cases")
    plt.show()

Call the functions on your assigned state to visualize the data.

In [8]:
covidcases19df(washington)

NameError: name 'covidcases19df' is not defined

Use New York Times' COVID-19 data(https://github.com/nytimes/covid-19-data/blob/master/us-states.csv) to create a geographical scatterplot and choropleth map of the United States based on its numbers of COVID-19 cases and deaths. (Use colors that you think are appropriate).

In [5]:
#Read in data
df = pd.read_csv("https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv")
#Display data
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [18]:
def dfFormatter(df,selectcolumn):
    #separate df_formatted from df.create list of states
    df_formatted =pd.DataFrame(stateList,colums = ["state"])
    df_formatted["lat"] = latitudes
    df_formatted["long"] = longitudes
    previousDate = "2020-01-01"
    for i in range(len(df["date"])):
        if df ["date"] [i] != previousDate:
            df_formatted[df["date"][i]] = 0 #creates new column after the specific date and zeroes it out
    #set index to states temporarily
    df_formatted.set_index("state",inplace = true)
    #select which data we want to use based on th column that you are plotting (cases or deathes)
      if selectColumn == "cases":
        #Get number of cases from df and put them in df_formatted.
        for i in range(len(df["state"])):
            df_formatted.loc[df["state"][i],df["date"][i]]=df["cases"][i]
      #Rest index when done so that state becomes a column without being the index.        
       df_formatted.reset_index(inplace = True)
       #drop last f rows because we are focusing on the 50 states
       df_formatted.drop[50,51,52,53,54], inplace = True
        return df_formatted 
    df_cases = dfFormatter(df,"cases")
    df_cases

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 18)

## 2 - Analyzing Its Impact on the United States

Group 1 - 

The United States is experiencing record high unemployment numbers. 

Using the following dataset from data.gov's data catalog(https://catalog.data.gov/dataset/unemployment-insurance-initial-claims-statewide-by-month-beginning-1971), create a bar plot of # of unemployment claims over time.

## 3 - Challenge (optional): Find a dataset online that explores other ways that COVID-19 has impacted the United States and use pandas and Plotly to create a visualization based on it.

Some ideas:
* number of business closures in each state over time
* number of people telecommuting in the US
* number of hospitalizations in each state

etc..